.home_page_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

.building_image {
  height: 100dvh;
  object-fit: contain;
}

.building_svg {
  position: absolute;
  top: 48px;
  left: 55%;
  width: 35%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  transform: translateX(-50%);
}

.inventory_floor_plan_dialog .modal-dialog {
  max-width: 90vw;
  height: 90vh;
}

.inventory_floor_plan_dialog_image {
  width: 70%;
}

.inventory_floor_plan_dialog .modal-body {
  display: flex;
  justify-content: center;
}

.back_btn {
  position: absolute;
  z-index: 9;
  left: 50px;
  padding-left: 15px;
  border: 0;
  padding-right: 15px;
  border-radius: 11px;
  background-color: #00000082;
  padding-top: 5px;
  padding-bottom: 5px;
}

.backIcon {
  width: 43px;
}

.inventory_floor_plan_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 80dvh;
}
.inventory_floor_plan_svg svg {
  width: 100%;
  height: 100%;
  max-height: 80dvh;
}
.inventory_floor_plan_svg svg image {
  visibility: hidden;
}
.inventory_floor_plan_svg svg a {
  cursor: pointer;
}

.flats_iframe {
  height: 80dvh;
}
/* 
.floor-label::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #c8c8c8;
}

.floor-label::-webkit-scrollbar-thumb {
  background: #ffc864;
  border-radius: 5px;
} */

.floor-label-picker {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  height: 160px; /* Display 5 items (1 active + 2 above & below) */
  width: 50px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  border-radius: 12px;
  background-color: #000;
  cursor: pointer;
}

.floor-label-picker::-webkit-scrollbar {
  display: none;
}

.floor-label-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0; /* buffer top and bottom for center alignment */
}

.floor-label-item {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  scroll-snap-align: center;
  transition: all 0.3s ease;
  color: #aaa;
  opacity: 0.3;
  width: 100%;
}

.floor-label-item.active {
  font-size: 16px;
  font-weight: bold;
  color: white;
  opacity: 1;
  background-color: #222222;
  border-radius: 6px;
  padding: 0 10px;
}

.inventory_buttons {
  bottom: 10px;
  width: 100px;
}
.inventory_buttons ul{
  padding-right: 5px;
}
.inventory_buttons ul::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #c8c8c8;
}
.inventory_buttons ul::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .floor-label-picker{
    right: 0px;
    z-index: 999;
  }
  .inventory_buttons {
    bottom: 0;
    position: relative;
    z-index: 3;
    width: calc(100% - 20px);
    left: 0px;
    margin: 0 auto;
    transform: translate(0);
  }

  .backIcon {
    width: 22px;
  }

  .back_btn {
    left: 10px;
    top: 10px;
    padding: 2px 4px;
    border-radius: 6px;
  }

  .building_image {
    height: auto;
  }
  .building_svg,
  .inventory_floor_plan_svg {
    height: auto;
  }

  .flats_iframe {
    height: 90vh;
  }

  .inventory_floor_plan_dialog_image {
    width: 100%;
  }
}
